[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Polipasto Eléctrico Teeno De Carga De 400 Kilos, 20 M, 110v… : Amazon.com.mx: Herramientas y Mejoras del Hogar
Type=Link
URL=https://www.amazon.com.mx/gp/product/B09Z61FTXZ?ie=UTF8&psc=1&linkCode=sl1&tag=olinrobotics-20&linkId=ca4c8dea82ec146a9056dd1c700fff8c&language=es_MX&ref_=as_li_ss_tl
Icon=text-html
