#define PLATFORMIO 60108
#define ARDUINO_ESP32_DEV
#define HAVE_CONFIG_H
#define MBEDTLS_CONFIG_FILE "mbedtls/esp_config.h"
#define UNITY_INCLUDE_CONFIG_H
#define WITH_POSIX
#define _GNU_SOURCE
#define IDF_VER "v4.4.4"
#define ESP_PLATFORM
#define _POSIX_READER_WRITER_LOCKS
#define ARDUINO_ARCH_ESP32
#define ESP32
#define F_CPU 240000000L
#define ARDUINO 10812
#define ARDUINO_VARIANT "esp32"
#define ARDUINO_BOARD "Espressif ESP32 Dev Module"
#define ARDUINO_PARTITION_default
