#define PLATFORMIO 60101
#define ESP8266
#define ARDUINO_ARCH_ESP8266
#define ARDUINO_ESP8266_ESP01
#define F_CPU 80000000L
#define __ets__
#define ICACHE_FLASH
#define ARDUINO 10805
#define ARDUINO_BOARD "PLATFORMIO_ESP01"
#define FLASHMODE_QIO
#define LWIP_OPEN_SRC
#define NONOSDK22x_190703 1
#define TCP_MSS 536
#define LWIP_FEATURES 1
#define LWIP_IPV6 0
#define VTABLES_IN_FLASH
#define MMU_IRAM_SIZE 0x8000
#define MMU_ICACHE_SIZE 0x8000
