[Desktop Entry]
Encoding=UTF-8
Name=Enlace a 1 protector de palanca de mando para tablero de expansión Arduino función de teclado y mouse analógicos : Amazon.com.mx: Electrónicos
Type=Link
URL=https://www.amazon.com.mx/protector-palanca-tablero-expansi%C3%B3n-anal%C3%B3gicos/dp/B0CJ7Y48Z4/ref=sr_1_1?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2QSJHKVYJML49&keywords=shield+botones+joystick+arduino&qid=1696021978&sprefix=shield+botones+joystick+arduino%2Caps%2C127&sr=8-1&ufe=app_do%3Aamzn1.fos.4e545b5e-1d45-498b-8193-a253464ffa47
Icon=text-html
